/* https://brandpalettes.com/solana-colors/ */
:root {
  --col-sol-green: #00ffa3;
  --col-sol-blue: #03e1ff;
  --col-sol-purple: #dc1fff;
  --col-sol-black: #101921;
}

.logo-solana {
  width: 120px;
  height: 120px;
}

#page-content {
  flex: 1 0 auto;
}

.App {
  height: 100vh;
  text-align: center;
  /* background: linear-gradient(
    to right,
    var(--col-sol-black),
    #160a1a
  ); https://www.color-name.com/eminence.color */
  background-color: rgb(18, 18, 18);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer {
  align-items: center;
  padding-bottom: 45px;
}

.footer span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.card {
  background: var(--col-sol-black);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #03e1ff, #dc1fff) 1;
  /* 038eff */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.card-body,
.card-text {
  color: white;
}

.btn-primary {
  background: -webkit-linear-gradient(
    left,
    var(--col-sol-green),
    var(--col-sol-blue)
  );
  border: 0;
  background-size: 200% 200%;
  height: 44px;
  animation: gradient-animation 4s ease infinite;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.btn-secondary {
  background: -webkit-linear-gradient(left, #00ffa3, #038eff);
  border: 0;
  background-size: 200% 200%;
  height: 44px;
  animation: gradient-animation 4s ease infinite;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}
